@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes enhancedFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
    filter: blur(5px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px) scale(1);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

.animate-enhancedFadeIn {
  opacity: 0;
  animation: enhancedFadeIn 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.animate-enhancedFadeIn.delay-1 {
  animation-delay: 0.4s;
}
.animate-enhancedFadeIn.delay-2 {
  animation-delay: 0.8s;
}
.animate-enhancedFadeIn.delay-3 {
  animation-delay: 1.2s;
}
.animate-enhancedFadeIn.delay-4 {
  animation-delay: 1.6s;
}
.animate-enhancedFadeIn.delay-5 {
  animation-delay: 2s;
}

.bg-grid-pattern {
  background-image: linear-gradient(to right, #ffffff 1px, transparent 1px),
    linear-gradient(to bottom, #ffffff 1px, transparent 1px);
  background-size: 24px 24px;
}

@layer base {
  .theme {
    --animate-meteor: meteor 5s linear infinite;
  }}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  @keyframes meteor {
  0% {
    transform: rotate(var(--angle)) translateX(0);
    opacity: 1;
    }
  70% {
    opacity: 1;
    }
  100% {
    transform: rotate(var(--angle)) translateX(-500px);
    opacity: 0;
    }
  }
}
